<div ng-show="currentAirport">
  <h3>{{currentAirport.name}} @ {{currentAirport.city}}</h3>

  <h4>Destinations</h4>

  <ul>
    <li ng-repeat="destination in currentAirport.destinations">
      <!-- ng-href="#/airports/{{destination.id}}" -->
      <div class='btn' ng-click="removeDestination(destination,$index)">Delete {{$index}}</div>
       | 
      <a ng-href="#/airports/{{destination.id}}">{{destination.code}} - {{destination.city}}</a>

    </li>
  </ul>

  
</div>

<div ng-include src="addDestinationView()"></div>