<div class="toggle" bg-if="app.toggle" ng-controller="NewFlightCtrl">
    <h3>Add Flight</h3>
    <form ng-submit="addFlight()">
        <label>Number</label>

        <input type="text" ng-model="newFlight.number">
        <label>Origin</label>
        <!-- TODO id like to only pick from the airports list -->
        <select ng-model="newFlight.origin" ng-options="t.code as t.code for t in airports">
        </select>
        <!-- <input type="text" ng-model="newFlight.origin"> -->
        <label>Destination</label>
        <!-- TODO id like to only pick from the airports list -->
        <!-- TODO more importantly - get just destinations with the origin's airports destinations -->
        <select ng-model="newFlight.destination" ng-options="t.code as t.code for t in airports">
        </select>
        <label>Price</label>
        <input type="text" ng-model="newFlight.price">
        <input type="submit" value="Add" class='btn'>
    </form>
</div>