
<div class="pull-left span6">

  <h3>Search for Flights</h3>

  <div class="controls controls-row">
    <input type="text" class="input-small" placeholder="Origin" ng-model="search.origin" />
    <input type="text" class="input-small" placeholder="Destination" ng-model="search.destination" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="flight in flights | filter:search">
        <td>{{flight.number}}</td>
        <td>
          <a ng-href="#/airports/{{flight.origin}}">
            {{flight | originTitle}}
            <!-- this needs to recieve the originTitle -->
          </a>
        </td>
        <td>
          <a ng-href="#/airports/{{flight.destination}}">
            {{flight | destinationTitle}}

            <!-- <span location="{{flight.destination}}"></span> -->
            <!-- this needs to recieve the destinationTitle -->
          </a>
        </td>
        <td>{{flight.price | currency}}</td>
        <td>
          <div class='btn' ng-click="removeFlight(flight)">Delete</div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <div class="btn" ng-click="displayAddNew()">Add Flight</div>
  <hr/>
</div>

<div class="span5"  ng-include src="sidebarURL('flight_new')"></div>''